@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.h2 {
  @apply font-bold text-lg md:text-3xl mb-2 font-poppins uppercase
}

.paragraf {
  @apply text-sm md:text-base font-poppins
}

.button {
  @apply text-sm md:text-base font-semibold font-poppins text-gray-100 uppercase
}

.container {
  @apply w-11/12 md:max-w-6xl h-full mx-auto relative
}

